<style>
  .sportContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  .sportCard {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    text-align: center;
    cursor: pointer;
  }
</style>

<div class="sportContainer"></div>

<form id="addSportForm" class="defaultForm">
    <h2>Add/Edit Sport</h2>
    <div class="validationMessage" id="validationMessage"></div>
    <input 
    type="hidden" 
    id="sportId" name="SportId">
    <div class="checkboxContainer">
        <input
            type="checkbox"
            id="isNew" name="IsNew">
        <label for="isNew">Is New Sport</label>
    </div>
    <input 
        type="text" placeholder="Sport Name" 
        id="sportName" name="SportName"
        class="textInput"
        required>
    <textarea 
        placeholder="Notes" 
        id="sportNotes" name="SportNotes"
        class="textArea"
        required></textarea>
    <button type="submit">Save Sport</button>
</form>
