$font-family: Arial, Helvetica, sans-serif;
$color: red;

h1 {
    font-family: $font-family;
    color: $color;
}

.sportContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    width: 80%;
}